
<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>

<div class="container">
    <div class="row">
        <h2 class="text-dark">
            <h1>Show All Records</h1>
        </h2>
    </div>
</div>

<%-include('../partials/footer')-%>